.sign-up-title {
    font-family: 'Righteous', sans-serif;
}

.sign-up-subtitle { 
    font-family: 'Righteous', sans-serif;
}

.sign-up-form {
    border: solid 1px rgb(16, 184, 226);
    border-radius: 15px;
}