.sign-in-title {
    font-family: "Righteous", sans-serif;
  }
  
  .sign-in-form {
    border: solid 1px rgb(16, 184, 226);
    border-radius: 15px;
  }
  
  .google-sign-in-icon, .facebook-sign-in-icon, .github-sign-in-icon {
    height: 2.2rem;
  }
  
  .sign-in-page-container {
    background-color: rgb(36, 35, 35);
    color: whitesmoke;
  }
  
  .sign-in-subtitle {
    font-family: "Righteous", sans-serif;
  }