.question-editor-container {
    background-color: rgba(36, 66, 91, 0.488);
    border: solid rgba(20, 102, 139, 0.519) 2px;
    font-size: larger;
}

.quiz-creator-title {
    font-family: 'Righteous', sans-serif;
}

.form-select, .form-control {
    font-size: large !important;
    font-weight: 600 !important;
}