.leaderboard-profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

  .leaderboard-title { 
    font-family: 'Righteous', sans-serif;
    font-size: 2rem;
}

.leaderboard-rank-image{
  height:1.5rem;
}