.btn.answer-button {
  color: azure;
  display: flex;
  align-items: center;
  background-color: rgba(245, 83, 13, 0.871);
  border-radius: 10px;
  font-family: "Varela Round", sans-serif;
  font-weight: 500;
  font-size: x-large;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.btn.answer-button:hover {
  background-color: rgb(231, 50, 0);
  transform: scale(1.029);
}

.question-container {
  border-radius: 15px;
  border: solid 2px rgba(0, 255, 238, 0.489);
  background-color: rgb(8, 55, 34);
}

.question-text-container {
  padding-bottom: 15px;
  background-color: rgb(2, 27, 32);
  border-radius: 15px;
}

.btn.answer-button.correct-answer {
  background-color: green;
  transition: background-color 0.3s ease, transform 0.3s ease;
  transform: scale(1.05);
}

.btn.answer-button.incorrect-answer {
  background-color: rgb(100, 0, 0);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.hurry-up {
  transition: background-color 0.5s ease, color 0.5s ease;
  animation: pulse 1s infinite; /* Add a pulsating animation */
}
