.quiz-item-container {
  font-family: 'Varela Round', sans-serif;
  background-color: rgb(8, 39, 55);
  border: solid 2px rgba(0, 123, 171, 0.485);
  border-radius: 15px;
}

.quiz-list-title, .quiz-list-questions-text { 
  font-family: 'Righteous', sans-serif;
}

button.play-button {
  font-family: 'Righteous', sans-serif;
}

.option-element {
  cursor: pointer;
}
