html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: rgb(2, 45, 45);
}

.content {
  flex: 1;
  background-color: rgb(2, 45, 45);
}

/* Apply additional styles for your Navbar and main content if needed */

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}